/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
inputs
.lsp
.clj-kondo
chez/run.sh
ocaml/.ocamlformat
ocaml/_build
ocaml/aoc2024.install
